OPENAI_API_KEY=your_api_key
OPENAI_MODEL=gpt-4o-mini
RANDOMIZE_OPTIONS=false
DATASET_PATH=sample_data/anatomy.parquet,sample_data/clinical.parquet,sample_data/college_physics.parquet,sample_data/comp_sci.parquet,sample_data/electrical_eng.parquet,sample_data/elementary_math.parquet,sample_data/global_facts.parquet,sample_data/high_school_chem.parquet,sample_data/high_school_us_history.parquet,sample_data/professional_law.parquet
QUESTION_LIMIT=5